.changePassword {
  width: 400px;
  max-width: 98%;
  margin: auto;
  text-align: center;
  padding: 20px 0px;
  border-radius: 4px;
  margin-top: 30px;
}
.changePassword h3 {
  font-weight: 500;
}
.changePassword h3 i {
  color: var(--secondary-color);
  margin-right: 10px;
}
.changePassword form {
  margin: 20px auto;
  text-align: start;
  margin-top: 15px;
}
.changePassword form {
  width: 80%;
}
.changePassword form input {
  width: 100%;
}
.nextBtn {
  padding: 12px 0px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}
.nextBtn span {
  font-weight: 600;
}
.nextBtn img {
  width: 15px;
  margin-left: 10px;
}
