.footerWrapper {
  background-color: var(--main-color);
  border-radius: 50px 50px 0px 0px;
  padding: 40px 0px;
  margin-top: 130px;
  color: var(--white);
}
.footerWrapper p {
  color: var(--white);
  font-size: 16px;
}
.footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footerWrapper h2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--white);
}
.aboutSociety p i {
  color: var(--white);
  margin-right: 10px;
  font-size: 16px;
}
.aboutSociety p {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.aboutSociety p :first {
  width: 10%;
}
.eventsPlanning button {
  margin-top: 20px;
  padding: 10px 25px;
  background: var(--secondary-color);
  font-weight: 600;
}
.eventsPlanning p {
  width: 300px;
}
.quickLinks ul a li {
  color: var(--white);
  padding: 2px 0px;
}
.imagesWarning {
  width: 100%;
  background: var(--main-color);
}
.imagesWarning p {
  width: 700px;
  max-width: 90%;
  margin: 20px auto;
  font-size: 14px;
  color: var(--white);
}
@media only screen and (max-width: 800px) {
  .footer {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .aboutSociety,
  .quickLinks {
    margin-top: 50px;
  }
  .footerWrapper {
    border-radius: 0px;
  }
}
@media only screen and (max-width: 330px) {
  .eventsPlanning p {
    width: 90%;
    margin: auto;
  }
}
@media only screen and (max-width: 500px) {
  .eventsPlanning button {
    width: 200px;
  }
}
