.rulesCard {
  width: 40%;
  margin: 10px;
  max-width: 95%;
  border-radius: 10px;
  background: white;
}
.rulesCard h3 {
  color: var(--main-color);
  padding: 2px 25px;
  font-weight: 500;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  display: inline;
  position: relative;
  top: 12px;
  left: 20px;
  font-size: 16px;
}
.rulesCard p {
  padding: 25px;
  background: none;
  border-radius: 10px;
  color: var(--primary-text);
  font-size: 14px;
  font-weight: 600;
}
@media only screen and (max-width: 850px) {
  .rulesCard {
    width: 45%;
    margin: 8px;
  }
}
@media only screen and (max-width: 500px) {
  .rulesCard {
    width: 100%;
    margin: 5px;
  }
  .rulesCard h3 {
    font-size: 16px;
  }
  .rulesCard p {
    font-size: 13px;
  }
}
