.searchbar {
  background: var(--white);
  text-align: center;
  border-radius: 30px;
  display: flex;
  align-items: center;
  width: 450px;
  max-width: 85%;
  margin: 30px auto;
}
.searchbar input {
  padding: 12px 0px;
  width: 400px;
  max-width: 70%;
  background: transparent;
  border: none;
  box-shadow: none;
}
.searchbar .btn i {
  font-size: 14px;
}
.searchbar .btn {
  padding: 12px 0px;
  width: 100px;
  max-width: 70%;
  border-radius: 35px;
  font-size: 16px;
}
@media only screen and (max-width: 550px) {
  .searchbar input,
  .searchbar .btn {
    padding: 11px 0;
  }
}
